<a href="https://colab.research.google.com/github/AnshumanDec2K/Python_Programming/blob/main/demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**This Notebook has the demo for basic conditonal, iterational and jump statements.**

In [ ]:
# Python has the ability to type convert based upon the value assigned
a = 7
print(type(a)) 

# Example 2 of type conversion
b = 3.0
print(type(b))
 
# Example 3 of type conversion
c = a + b
print(c)
print(type(c)) 

# Example 4 of type conversion
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [ ]:
import numpy as np
B = np.random.rand(1000000)
%timeit sum(B)
%timeit np.sum(B)

10 loops, best of 5: 141 ms per loop
1000 loops, best of 5: 314 µs per loop

In [ ]:

%%timeit
S=0
for x in B:
    S = S + x
print(S)

499783.51506110554
499783.51506110554
499783.51506110554
499783.51506110554
499783.51506110554
499783.51506110554
1 loop, best of 5: 190 ms per loop

In [ ]:
price = input("Enter the price: ")
price = float(price) 
print('Price =', price)
print('Not a number!')

Enter the price: 132
Price = 132.0
Not a number!

In [ ]:
price = input("Enter the price: ")
try:
    price = float(price) 
    print('Price =', price)
except ValueError:
    print('Not a number!')

Enter the price: 211
Price = 211.0

In [ ]:
price = input("Enter the price: ")
print(type(price))
price = int(price) 
print('Price =', price)
print(type(price))

Enter the price: 123
<class 'str'>
Price = 123
<class 'int'>

In [ ]:
c = 'hello' + str(10)
print(c)

hello10

In [ ]:
type(c)

str

In [ ]:
len(c)

7

In [ ]:
import numpy as np
B = np.random.rand(1000000)
%timeit sum(B)

10 loops, best of 5: 143 ms per loop

In [ ]:
%timeit np.sum(B)

The slowest run took 8.72 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 303 µs per loop

In [ ]:
%%timeit
S=0
for x in B:
    S+=x

10 loops, best of 5: 181 ms per loop

In [ ]:
#use of if statement
a = 330 
b = 20000 
if b > a:
    print("b is greater than a")
print(a)
print(b)

b is greater than a
330
20000

In [ ]:
#use of if, elif and else
x,y =12,10 
if(x < y): 
    st= "x is less than y" 
elif (x == y):
    st= "x is same as y" 
else: 
    st="x is greater than y" 
print(st)

x is greater than y

In [ ]:
#demo of list
list=[1,2,3,4,5]
for i in list:
    print(i)
    
print(i)

1
2
3
4
5
5

In [ ]:
#demo of while
while (i<10) :
    print(i)
    i = i+1

5
6
7
8
9

In [ ]:
#demo of range function
range(3,7)

range(3, 7)

In [ ]:
li = range(13,7) 
li

range(13, 7)

In [ ]:
print(li)

range(13, 7)

In [ ]:
#demo of for loop
for i in range(5,17,2):
    print(i)

5
7
9
11
13
15

In [ ]:
#demo-2 of for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
li = [1,2,3,4,5,6,7]
j = 0
for i in li:
    print(i)

1
2
3
4
5
6
7

In [ ]:
print(j)
print(type(j))

0
<class 'int'>

In [ ]:
length = len(li)
while length >= 3:
    print(length)
    if length <= 5:
        break
    length = length - 1

7
6
5

In [ ]:
length = len(li)
while length >= 3:    
    length = length - 1 
    if length <= 5:
        continue
    print(length)

6

In [ ]:
li = [1,2,3,4,5,6,7]
j = 0
for i in li:
    for i in li:
        i=i+1
        j=j+1
    print(j)
print(j)

7
14
21
28
35
42
49
49

In [ ]:
#example of for if, elif and else
x = int(input("x? "))
y = int(input("y? "))
if x < y: 
    print('x is less than y') 
elif x > y: 
    print('x is greater than y') 
else: 
    print('x and y are equal')

x? 12
y? 14
x is less than y

In [ ]:
highest = 0
for value in [9, 41, 12, 3, 74, 15] :
    if value > highest:
        highest = value 
        
print('highest' , highest)

In [ ]:
list = [9, 41, 12, 3, 74, 15]
print(list[4])

In [ ]:
list = [9, 41, 12, 3, 74, 15]
smallest = list[0]
for value in list :
    if value < smallest:
        smallest = value 
        
print('smallest' , smallest)

In [ ]:
smallest = None
for value in [9, 41, 12, 3, 74, 15,103,305, 7 , 102.5, 167.44,1] : 
     if smallest is None : 
         smallest = value   
     elif value < smallest : 
         smallest = value   
     #print(smallest, value)
print('After', smallest)

In [ ]:
def average(numbers):
    total = 0
    for num in numbers:
        total = total + num
    avg = total/len(numbers)
    return avg, total
def main():
    prices = [29, 21, 55, 10, 12,16,190,347,1024, 9403, 125, 341942, 20394, 109236, 3470, 5732, 1293, 10039,5783]
    result, tot = average(prices)
    print(tot)
    print(result)
main()

In [ ]:
def average(numbers):
    total = 0
    for num in numbers:
        total = total + num
    avg = total/len(numbers)
    return avg
def main():
    prices = [29, 21, 55, 10]
    result = average(prices)
    print(order_goal)
    print(result)

main()
order_goal = 25

25
28.75

In [ ]:
#demo for jump statement "continue"
a = 10
while a < 20 :
    a += 1
    if(a == 15):
        continue    
    print(a)

11
12
13
14
16
17
18
19
20