<a href="https://colab.research.google.com/github/AnshumanDec2K/Python_Programming/blob/main/demo6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **This Notebook has the demo for more operations on Tuple, List and String and some basic dictionary operations**

In [9]:
a = ['spam', 'eggs', 100, 1234, 2*2]
print(a[0])
print(a[:4])

spam
['spam', 'eggs', 100, 1234]

In [10]:
a[2] = a[2] + 23

In [11]:
a[0:2] = [1,12]

In [12]:
print(a)

[1, 12, 123, 1234, 4]

In [13]:
a[0:1] = []

In [14]:
lis = [ 1, [5, 6], 7]
print(lis[1][1])

6

In [15]:
list = range(3)
print(list)

range(0, 3)

In [16]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [17]:
for i in range(len(friends)) :
    friend = friends[i]
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [18]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

['Sally', 'Joseph', 'Glenn']
Joseph

In [19]:
friends.sort(reverse=True)
print(friends)
print(friends[1])

['Sally', 'Joseph', 'Glenn']
Joseph

In [27]:
t = [9, 41, 12, 3, 74, 15]
t[::-2]

[15, 3, 41]

In [26]:
stuff = [list]
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)

[range(0, 3), 'book', 99]
[range(0, 3), 'book', 99, 'cookie']

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'
x = fruit.lower()
print(x)

banana

In [22]:
2
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1
average = total / count
print('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: done
Average: 2.0

In [ ]:
nums = [3, 41, 12, 9, 74, 15]
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [23]:
abc = 'With three words'
stuff = abc.split('h')
print(stuff)
print(len(stuff))
print(stuff[0])

['Wit', ' t', 'ree words']
3
Wit

In [28]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
print(words)
email = words[1]
print(email)
pieces = email.split('@')
print(pieces[1])

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']
salman.amir@gmail.com
gmail.com

In [29]:
d = { "foo" : 1, "bar" : 2 }
print(d["bar"])   # 2
some_dict = {}
some_dict["foo"] = "yow!"
some_dict["bar"] = "Dog!"
print(some_dict.keys()) # ["foo"]

2
dict_keys(['foo', 'bar'])

In [30]:
list

range(0, 3)

In [31]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
    print('Happy New Year:',  friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [32]:
for i in range(len(friends)) :
    print(len(friends))
    print(i)
    friend = friends[i]
    print('Happy New Year:',  friend)

3
0
Happy New Year: Joseph
3
1
Happy New Year: Glenn
3
2
Happy New Year: Sally

In [ ]:
total = 0
count = 0
while True :
    inp = input('Enter a number: ')
    if inp == 'done' : 
        break
    value = float(inp)
    total = total + value     
    count = count + 1

Enter a number: 10
Enter a number: 20
Enter a number: 40
Enter a number: 60
Enter a number: done

In [ ]:
print(count)

4

In [ ]:
print(total)
average = total / count
print('Average:', average)

130.0
Average: 32.5

In [ ]:
line = 'From salman.amir@gmail.com Sat Jan  5 09:14:16 2020'
words = line.split()
words

['From', 'salman.amir@gmail.com', 'Sat', 'Jan', '5', '09:14:16', '2020']

In [ ]:
email = words[1]
print(email)

salman.amir@gmail.com

In [ ]:
pieces = email.split('@')
print(pieces[1])

gmail.com

In [ ]:
a = (123, 54, 92) # tuple of 3 integers
b = () # empty tuple
c = ("Ala",) # tuple of a single string (note the trailing ",")
d = (2, 3, False, "Arg", None) # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

(123, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)

In [ ]:
x = 1.2
y = -0.3
z = 0.9
t = (x, y, z)

print(t)

(1.2, -0.3, 0.9)

In [ ]:
l = 2, 3, "Hi", [1,2,3] # tuple packing
print('t is', l)
x, y, z, a = l # tuple unpacking
print('x is', x)
print('y is', y)
print('z is', z)
print('a is', a)

t is (2, 3, 'Hi', [1, 2, 3])
x is 2
y is 3
z is Hi
a is [1, 2, 3]

In [ ]:
print(type(l))

<class 'tuple'>

In [ ]:
l[3]

[1, 2, 3]

In [ ]:
a = [1, 3, 9, 'Py', 217.213]
b = ["Python"]
c = []

print(a)
print(b)
print(c)

[1, 3, 9, 'Py', 217.213]
['Python']
[]

In [ ]:
matrix = [[input(),input()], [input(),input()]]
print(matrix)

12
hi
i23
---
[['12', 'hi'], ['i23', '---']]

In [ ]:
a = (1, 4, 9, 16)     # A tuple of numbers
b = ['A','B','C','d'] # A list of characters
print(a)
print(b)
l = list(a)   # Make a list based on a tuple 
print(l)
t = tuple(b)  # Make a tuple based on a list
print(t)

(1, 4, 9, 16)
['A', 'B', 'C', 'd']
[1, 4, 9, 16]
('A', 'B', 'C', 'd')

In [ ]:
print(id(a))
print(id(l))
print(id(b))
print(id(t))

1361258827928
1361258854152
1361258254088
1361258755080

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]

print('t is', t)
print('t[0] is', t[0])
print('t[2] is', t[2])

print('x is', x)
print('x[-1] is', x[-1])

t is (123, 54, 92, 87, 33)
t[0] is 123
t[2] is 92
x is [123, 54, 92, 87, 33]
x[-1] is 33

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('123 in', x, 123 in x)
print('234 in', t, 234 in t)
print('999 not in', x, 999 not in x)

123 in [123, 54, 92, 87, 33] True
234 in (123, 54, 92, 87, 33) False
999 not in [123, 54, 92, 87, 33] True

In [ ]:
a = [1, 2, 3, 4, 5]

a[2:]

[3, 4, 5]

In [ ]:
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print("length of t is", len(t))
print("number of 33s in x is", x.count(33))

length of t is 5
number of 33s in x is 1

In [34]:
#tuple is immutable
x = (123, 54, 92, 87, 33)
print(x)
x[2] = 33
print(x)

(123, 54, 92, 87, 33)

TypeError: ignored

In [35]:
#list functions
t = [123, 54, 92, 87, 33]
print(t)
t[1] = 4

[123, 54, 92, 87, 33]

In [36]:
x = [123, 54, 92, 87, 33]
x.append(101)
print(x)

[123, 54, 92, 87, 33, 101]

In [37]:
x = [123, 54, 92, 87, 33]
x.insert(3, 1111)
print(x)

[123, 54, 92, 1111, 87, 33]

In [38]:
x = [123, 54, 92, 87, 33]
x.remove(123)
print(x)

[54, 92, 87, 33]

In [39]:
x = [123, 54, 92, 87, 33]
print(x)
del x[0]
print(x)

[123, 54, 92, 87, 33]
[54, 92, 87, 33]

In [40]:
a = [1,2,3]
b = [4,5,6]
c = "Hi"
a.extend(b)
print(a)
a.append(b)
print(a)
a.append(c)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]
[1, 2, 3, 4, 5, 6, [4, 5, 6], 'Hi']

In [41]:
a = [1, 2, 3]
b = [4, 5, 6]
a = a + b
print(a)

[1, 2, 3, 4, 5, 6]

In [42]:
a = [1, 2, 3, 4, 5, 6]
a[1] = [9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9],[9, 9, 9, 9]
print(a)

[1, ([9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9], [9, 9, 9, 9]), 3, 4, 5, 6]

In [43]:
x,y,z = 10,20,30

In [44]:
a = [1, 3, 5,6, 4, 2]
a.reverse()
print(a)
b = []
b = a.sort()
print(a)
print(b)

[2, 4, 6, 5, 3, 1]
[1, 2, 3, 4, 5, 6]
None

In [45]:
a = [2, 5, 7, 1]
b = sorted(a)
print(a)
print(b)

[2, 5, 7, 1]
[1, 2, 5, 7]

In [46]:
text = "ABCDEFGH"
print(text[0])
print(text[-2])
print(text[0:6])
print("EFG" in text)
print("ABBC" in text)
print(len(text))

A
G
ABCDEF
True
False
8

In [47]:
#string is immutable
text = "ABCDEFGH"
text[0:2] = "CCC"

TypeError: ignored

In [50]:
#string functions
string = "ABCDEDCBCDEA"
index = string.find("CDE")
print("CDE is at position:", index)
index = string.rfind("CDE")
print("CDE is at position:", index)
index = string.rfind('C')
print("The last C is at position:", index)

CDE is at position: 2
CDE is at position: 8
The last C is at position: 8

In [49]:
s = "     My name is Python     "
print(len(s), ".", s, ".")
print(len(s.rstrip()), ".", s.rstrip(), ".")
print(len(s.lstrip()), ".", s.lstrip(), ".")
print(len(s.strip()), ".", s.strip(),".")

27 .      My name is Python      .
22 .      My name is Python .
22 . My name is Python      .
17 . My name is Python .

In [51]:
string = "My name is Python"
words = string.split(" ")
print(words)

letters = list(string) # a tuple of character converted into a list
print(letters)

['My', 'name', 'is', 'Python']

TypeError: ignored

In [52]:
string = "My name is Python"
words = string.split(" ")
print(words)
print("|".join(words))

['My', 'name', 'is', 'Python']
My|name|is|Python

In [53]:
language = "Python"
version = 3.6
print(language + str(version))

Python3.6

In [54]:
l = [1, 2, 3, 2, 3] # list of 5 values
s = set(l) # set of 3 unique values
print(s)
e = set() # empty set
print(e)

{1, 2, 3}
set()

In [55]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

In [56]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

In [57]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

Union: {2, 4, 5, 6, 7, 8, 10}
Intersection: {4, 6}

In [58]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(sports)

sports['C']

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton'}

'Hockey'

In [60]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("A represents", sports["A"])
print("C represents", sports["C"])

A represents Cricket
C represents Hockey

In [70]:
#dictionary printing keys that are not present
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports["N"])

KeyError: ignored

In [62]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print("What about N?", sports.get("N"))
print("With a default value:", sports.get("N", "asfasfasf"))

What about N? None
With a default value: asfasfasf

In [63]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"T" in sports

False

In [64]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
"Y" not in sports

True

In [65]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
print(len(sports))

4

In [66]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton"}
sports['E'] = 'Kabaddi'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [67]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
sports['F'] = 'Volley Ball'
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi', 'F': 'Volley Ball'}

In [68]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi", 'F': 'Volley Ball'}
del sports['F']
print(sports)

{'A': 'Cricket', 'B': 'Football', 'C': 'Hockey', 'D': 'Badminton', 'E': 'Kabaddi'}

In [73]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(sports.keys())

dict_keys(['A', 'B', 'C', 'D', 'E'])

In [74]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(sports.values())

dict_values(['Cricket', 'Football', 'Hockey', 'Badminton', 'Kabaddi'])

In [75]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}
print(sports.items())

dict_items([('A', 'Cricket'), ('B', 'Football'), ('C', 'Hockey'), ('D', 'Badminton'), ('E', 'Kabaddi')])