<a href="https://colab.research.google.com/github/AnshumanDec2K/Python_Programming/blob/main/demo5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This Notebook has the demo for basic Tuple, List and String operations**

In [1]:
#Tuples are immutable
example_tuple = (2, 3, 4, 5)
print('A tuple:', example_tuple)
print('First element of tuple:', example_tuple[0])

A tuple: (2, 3, 4, 5)
First element of tuple: 2

In [2]:
# Lists are mutable
example_list = [2, 3, 4, 5]
print('A list:', example_list)
print('First element of list:', example_list[0])
example_list.append(12)
print('Appended list:', example_list)
example_list[0] = 45
print('Modified list:', example_list)

A list: [2, 3, 4, 5]
First element of list: 2
Appended list: [2, 3, 4, 5, 12]
Modified list: [45, 3, 4, 5, 12]

In [3]:
# String are immutable, tuple of characters
text = "ABCDEFGH"
print('Here is a string:', text)
print('First character:', text[0])
print('Number of characters in text', len(text))

Here is a string: ABCDEFGH
First character: A
Number of characters in text 8

In [4]:
##Sets are a collection of unique unordered elements
example_set = set([1,2,2,2,2,4,5,6,6,6])
print('A set:', example_set)

A set: {1, 2, 4, 5, 6}

In [5]:
# Dictionary contains key: value pair
example_dictionary = {"A": "APPLE", 
                      "B": "BALL", 
                      "C": "CAT", 
                      "D": "DOLL"}
print('A dictionary:', example_dictionary)
print('Value associated to key C:', example_dictionary['C'])

A dictionary: {'A': 'APPLE', 'B': 'BALL', 'C': 'CAT', 'D': 'DOLL'}
Value associated to key C: CAT

In [6]:
x = 2
print('Is 2 < 5?', x < 5)
print('Is 2 == 5?', x == 5)
print('Is 2 < 5 and 2 > 1?', (x < 5) & (x > 1))

if x == 2:
    print('x is equal to 2')

Is 2 < 5? True
Is 2 == 5? False
Is 2 < 5 and 2 > 1? True
x is equal to 2

In [7]:
example_list = ['A', 'B', 'C', 'D', 'E']

## Looping through a list
for element in example_list:
    print("The element in list is:", element)

The element in list is: A
The element in list is: B
The element in list is: C
The element in list is: D
The element in list is: E